* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Kanit", sans-serif;
}

body {
    background-color: rgb(155, 220, 217);
}

label {
    font-size: 25px;
    color: white;
    margin: 0 0 .7rem 0;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #1D6767;
    border-radius: 50px;
    appearance: none;
    cursor: pointer;
    width: 18rem;
    height: 10px;
    margin: auto;
}

input[type=range]::-moz-range-thumb, input[type=range]::-webkit-range-thumb {
    box-shadow: .5px 2px 2px #000000, 0px 0px 0px #0d0d0d;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #86A826;
}

.main {
    background-color: rgb(83, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    margin: 200px auto;
    height: 600px;
    border-radius: 30px;
}

.options-sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessions-section {
    display: flex;
    flex-direction: row;
}

.timer {
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    background-color: #1D6767;
    border: 10px solid #86A826;
    border-radius: 50%;
}

.timer-text {
    display: block;
    margin: 3.5rem 0 3.5rem 0;
    font-size: 45px;
    font-weight: 400;
    color: #F2EB3E;
}

.session {
    box-shadow: .5px 2px 2px #000000, 0px 0px 0px #0d0d0d;
    background-color: #1D6767;
    margin: 0 3px 0 3px;
    width: 90px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-session {
    margin: 0 3px 0 3px;
    width: 90px;
    height: 100px;
    border: 5px solid #D9D9D9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identify-number {
    display: block;
    color: #F2EB3E;
    font-size: 30px;
    font-weight: 400;
}

.next-id-number {
    display: block;
    color: #D9D9D9;
    font-size: 30px;
    font-weight: 400;
}

.fa-trash {
    margin-top: 10px;
    font-size: 30px;
}

.fa-plus {
    margin-top: 5px;
    font-size: 30px;
    color: #D9D9D9;
}

.small-border {
    background-color: #D9D9D9;
    width: 3.3rem;
    height: .1rem;
}

.upper-border {
    background-color: #D9D9D9;
    margin: 1.5rem 0 .5rem 0;
    width: 500px;
    height: .1rem;
}

.lower-border {
    background-color: #D9D9D9;
    margin:  1.5rem 0 .5rem 0;
    width: 400px;
    height: .1rem;
}

.input-value {
    font-size: 25px;
}